*.env
*.env.*
*.pem
*.vcf
npm-debug.log
.env
/node_modules
/npm-debug.log
file.csv
.ide
.DS_Store
.idea/
config.json
config.*.json
/migrations/whatsapp/whatsapp_backup/
/migrations/whatsapp/whatsapp_contacts.json
/migrations/whatsapp/whatsapp_chats.json
/migrations/whatsapp/contacts.json
/migrations/whatsapp/chats.json
/dist